
{
  "swagger" : "2.0",
  "info" : {
    "description" : "REST API to manage Reepay resources",
    "version" : "1",
    "title" : "API",
    "contact" : {
      "name" : "support@reepay.com"
    }
  },
  "host" : "api.reepay.com",
  "basePath" : "/",
  "tags" : [ {
    "name" : "account"
  }, {
    "name" : "add_on"
  }, {
    "name" : "additional cost"
  }, {
    "name" : "agreement"
  }, {
    "name" : "authenticate"
  }, {
    "name" : "charge"
  }, {
    "name" : "coupon"
  }, {
    "name" : "credit"
  }, {
    "name" : "customer"
  }, {
    "name" : "discount"
  }, {
    "name" : "dunning plan"
  }, {
    "name" : "event"
  }, {
    "name" : "invoice"
  }, {
    "name" : "mail template"
  }, {
    "name" : "organisation"
  }, {
    "name" : "refund"
  }, {
    "name" : "plan"
  }, {
    "name" : "subscription"
  }, {
    "name" : "user"
  }, {
    "name" : "webhook"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/v1/account/pubkey" : {
      "get" : {
        "tags" : [ "account" ],
        "summary" : "Get list of public keys",
        "description" : "",
        "operationId" : "getPublicKeys",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Key"
              }
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "account" ],
        "summary" : "Create public key",
        "description" : "",
        "operationId" : "createPublicKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Key"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/account/pubkey/{key}/expire" : {
      "post" : {
        "tags" : [ "account" ],
        "summary" : "Expire public key",
        "description" : "",
        "operationId" : "expirePublicKey",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Public key",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/account/webhook_settings" : {
      "get" : {
        "tags" : [ "account" ],
        "summary" : "Get webhook settings",
        "description" : "",
        "operationId" : "getWebhookSettings",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WebhookSettings"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "account" ],
        "summary" : "Update webhook settings",
        "description" : "",
        "operationId" : "updateWebhookSettingsJson",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateWebhookSettings"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WebhookSettings"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/account/webhook_settings/secret" : {
      "post" : {
        "tags" : [ "account" ],
        "summary" : "Generate new webhook secret",
        "description" : "",
        "operationId" : "generateWebhookSecret",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WebhookSettings"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/account/mail_settings" : {
      "get" : {
        "tags" : [ "account" ],
        "summary" : "Get mail settings",
        "description" : "",
        "operationId" : "getMailSettings",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/MailSettings"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "account" ],
        "summary" : "Update mail settings",
        "description" : "",
        "operationId" : "updateMailSettingsJson",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MailSettings"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/MailSettings"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/account/discount_settings" : {
      "get" : {
        "tags" : [ "account" ],
        "summary" : "Get discount settings",
        "description" : "",
        "operationId" : "getDiscountSettings",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/DiscountSettings"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "account" ],
        "summary" : "Update discount settings",
        "description" : "",
        "operationId" : "updateDiscountSettings",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DiscountSettings"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/DiscountSettings"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/account" : {
      "get" : {
        "tags" : [ "account" ],
        "summary" : "Get account",
        "description" : "",
        "operationId" : "getCurrentAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Account"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "account" ],
        "summary" : "Update account",
        "description" : "",
        "operationId" : "updateAccountJson",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateAccount"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Account"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/account/privkey" : {
      "get" : {
        "tags" : [ "account" ],
        "summary" : "Get list of private keys",
        "description" : "",
        "operationId" : "getPrivateKeys",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Key"
              }
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "account" ],
        "summary" : "Create private key",
        "description" : "",
        "operationId" : "createPrivateKey",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Key"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/account/privkey/{key}/expire" : {
      "post" : {
        "tags" : [ "account" ],
        "summary" : "Expire private key",
        "description" : "",
        "operationId" : "expirePrivateKey",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "description" : "Private key",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/add_on" : {
      "get" : {
        "tags" : [ "add_on" ],
        "summary" : "Get list of add-ons",
        "description" : "",
        "operationId" : "getAddOns",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "Page number to get",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "maximum" : 10000000,
          "minimum" : 1,
          "format" : "int32",
          "x-example" : 1
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Page size to use",
          "required" : false,
          "type" : "integer",
          "default" : 20,
          "maximum" : 100,
          "minimum" : 1,
          "format" : "int32"
        }, {
          "name" : "search",
          "in" : "query",
          "description" : "Optional search expression",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Optional sorting expression",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AddOnSearch"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "add_on" ],
        "summary" : "Create add-on",
        "description" : "",
        "operationId" : "createAddOn",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateAddOn"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AddOn"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/add_on/{handle}" : {
      "get" : {
        "tags" : [ "add_on" ],
        "summary" : "Get add-on",
        "description" : "",
        "operationId" : "getAddOn",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "handle",
          "in" : "path",
          "description" : "Add-on handle",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AddOn"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "add_on" ],
        "summary" : "Update add-on",
        "description" : "",
        "operationId" : "updateAddOn",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "handle",
          "in" : "path",
          "description" : "Add-on handle",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateAddOn"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AddOn"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "add_on" ],
        "summary" : "Delete add-on",
        "description" : "",
        "operationId" : "deleteAddOn",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "handle",
          "in" : "path",
          "description" : "Add-on handle",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AddOn"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/add_on/{handle}/undelete" : {
      "post" : {
        "tags" : [ "add_on" ],
        "summary" : "Un-delete add-on",
        "description" : "",
        "operationId" : "undeleteAddOn",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "handle",
          "in" : "path",
          "description" : "Add-on handle",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AddOn"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/additional_cost/{handle}" : {
      "get" : {
        "tags" : [ "additional cost" ],
        "summary" : "Get additional cost",
        "description" : "",
        "operationId" : "getAdditionalCost",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "handle",
          "in" : "path",
          "description" : "Additonal cost handle",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AdditionalCost"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/additional_cost/subscription/{handle}" : {
      "get" : {
        "tags" : [ "additional cost" ],
        "summary" : "Get additional costs for subscription",
        "description" : "",
        "operationId" : "getAdditionalCosts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "handle",
          "in" : "path",
          "description" : "Subscription handle",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/AdditionalCost"
              }
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/additional_cost" : {
      "post" : {
        "tags" : [ "additional cost" ],
        "summary" : "Create additional cost",
        "description" : "",
        "operationId" : "createAdditionalCostJson",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateAdditionalCost"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AdditionalCost"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/additional_cost/{handle}/cancel" : {
      "post" : {
        "tags" : [ "additional cost" ],
        "summary" : "Cancel pending additional cost",
        "description" : "",
        "operationId" : "cancelAdditionalCost",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "handle",
          "in" : "path",
          "description" : "Additonal cost handle",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AdditionalCost"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/agreement/card_gateway" : {
      "get" : {
        "tags" : [ "agreement" ],
        "summary" : "Get all card gateway agreements",
        "description" : "",
        "operationId" : "getCardGatewayAgreements",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "only_active",
          "in" : "query",
          "description" : "Get only active",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "non_deleted",
          "in" : "query",
          "description" : "Get only non-deleted",
          "required" : false,
          "type" : "boolean",
          "default" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/GatewayAgreement"
              }
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "agreement" ],
        "summary" : "Create card gateway agreement",
        "description" : "",
        "operationId" : "createCardGatewayAgreement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateCardGatewayAgreement"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/GatewayAgreement"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/agreement/card_gateway/{id}" : {
      "put" : {
        "tags" : [ "agreement" ],
        "summary" : "Update card gateway agreement",
        "description" : "",
        "operationId" : "updateCardGatewayAgreement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Agreement id",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateCardGatewayAgreement"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/GatewayAgreement"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/agreement/pgw" : {
      "post" : {
        "tags" : [ "agreement" ],
        "summary" : "Create payment gateway agreement",
        "description" : "",
        "operationId" : "createPgwAgreement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PgwAgreement"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/GatewayAgreement"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/agreement/pgw/{id}" : {
      "put" : {
        "tags" : [ "agreement" ],
        "summary" : "Update pgw agreement",
        "description" : "",
        "operationId" : "updatePgwAgreement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Agreement id",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdatePgwAgreement"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/GatewayAgreement"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/agreement/mobile_pay_subscription" : {
      "get" : {
        "tags" : [ "agreement" ],
        "summary" : "Get all mobilepay gateway agreements",
        "description" : "",
        "operationId" : "getMobilePayAgreements",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "non_deleted",
          "in" : "query",
          "description" : "Get only non-deleted",
          "required" : false,
          "type" : "boolean",
          "default" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/GatewayAgreement"
              }
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "agreement" ],
        "summary" : "Prepare MobilePay subscription agreement",
        "description" : "",
        "operationId" : "prepareMobilePaySubscriptionAgreement",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/MobilePaySubscriptionAgreementPrepareResponse"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/agreement/mobile_pay_subscription/{ref}/activate" : {
      "post" : {
        "tags" : [ "agreement" ],
        "summary" : "Activate pending MobilePay subscription agreement by MobilePay agreement id",
        "description" : "",
        "operationId" : "activateMobilePaySubscriptionAgreement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "ref",
          "in" : "path",
          "description" : "MobilePay agreement id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/GatewayAgreement"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/agreement" : {
      "get" : {
        "tags" : [ "agreement" ],
        "summary" : "Get all agreements",
        "description" : "",
        "operationId" : "getGatewayAgreements",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "only_active",
          "in" : "query",
          "description" : "Get only active",
          "required" : false,
          "type" : "boolean",
          "default" : false
        }, {
          "name" : "non_deleted",
          "in" : "query",
          "description" : "Get only non-deleted",
          "required" : false,
          "type" : "boolean",
          "default" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/GatewayAgreement"
              }
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/agreement/{id}" : {
      "get" : {
        "tags" : [ "agreement" ],
        "summary" : "Get gateway agreement",
        "description" : "",
        "operationId" : "getGatewayAgreement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Agreement id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/GatewayAgreement"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "agreement" ],
        "summary" : "Delete gateway agreement",
        "description" : "",
        "operationId" : "deleteGatewayAgreement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Agreement id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/GatewayAgreement"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/agreement/{id}/enable" : {
      "post" : {
        "tags" : [ "agreement" ],
        "summary" : "Enable gateway agreement",
        "description" : "",
        "operationId" : "enableGatewayAgreement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Agreement id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/GatewayAgreement"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/agreement/{id}/disable" : {
      "post" : {
        "tags" : [ "agreement" ],
        "summary" : "Disable gateway agreement",
        "description" : "",
        "operationId" : "disableGatewayAgreement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Agreement id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/GatewayAgreement"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/authenticate/login" : {
      "post" : {
        "tags" : [ "authenticate" ],
        "summary" : "User login",
        "description" : "",
        "operationId" : "login",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "email",
          "in" : "formData",
          "description" : "User email",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "password",
          "in" : "formData",
          "description" : "User password",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "organisation",
          "in" : "formData",
          "description" : "Organisation subdomain to login to",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "account",
          "in" : "formData",
          "description" : "Account handle or id to login to",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserLogin"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/authenticate/renew" : {
      "post" : {
        "tags" : [ "authenticate" ],
        "summary" : "Renew user login",
        "description" : "",
        "operationId" : "renew",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserRenew"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/authenticate/verify" : {
      "get" : {
        "tags" : [ "authenticate" ],
        "summary" : "Verify authentication",
        "description" : "",
        "operationId" : "verifyAuthentication",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/charge" : {
      "get" : {
        "tags" : [ "charge" ],
        "summary" : "Get charges",
        "description" : "",
        "operationId" : "getCharges",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "Page number to get",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "maximum" : 10000000,
          "minimum" : 1,
          "format" : "int32",
          "x-example" : 1
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Page size to use",
          "required" : false,
          "type" : "integer",
          "default" : 20,
          "maximum" : 100,
          "minimum" : 1,
          "format" : "int32"
        }, {
          "name" : "search",
          "in" : "query",
          "description" : "Optional search expression",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Optional sorting expression",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ChargeSearch"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "charge" ],
        "summary" : "Create charge",
        "description" : "",
        "operationId" : "createCharge",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateCharge"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Charge"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/charge/{handle}" : {
      "get" : {
        "tags" : [ "charge" ],
        "summary" : "Get charge",
        "description" : "",
        "operationId" : "getCharge",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "handle",
          "in" : "path",
          "description" : "Charge handle",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Charge"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/charge/prepare" : {
      "post" : {
        "tags" : [ "charge" ],
        "summary" : "Prepare charge",
        "description" : "",
        "operationId" : "prepareCharge",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PrepareChargeDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Charge"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/charge/{handle}/settle" : {
      "post" : {
        "tags" : [ "charge" ],
        "summary" : "Settle charge",
        "description" : "",
        "operationId" : "settleCharge",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "handle",
          "in" : "path",
          "description" : "Charge handle",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/SettleCharge"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Charge"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/charge/{handle}/cancel" : {
      "post" : {
        "tags" : [ "charge" ],
        "summary" : "Cancel charge",
        "description" : "",
        "operationId" : "cancelCharge",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "handle",
          "in" : "path",
          "description" : "Charge handle",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Charge"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/coupon/code/validate" : {
      "get" : {
        "tags" : [ "coupon" ],
        "summary" : "Validate coupon",
        "description" : "",
        "operationId" : "validateCode",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "code",
          "in" : "query",
          "description" : "Coupon code",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "plan",
          "in" : "query",
          "description" : "Optional plan to validate against",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "customer",
          "in" : "query",
          "description" : "Optional customer to validate against",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Coupon"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/coupon" : {
      "get" : {
        "tags" : [ "coupon" ],
        "summary" : "Get list of coupons",
        "description" : "",
        "operationId" : "getCoupons",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "Page number to get",
          "required" : true,
          "type" : "integer",
          "default" : 1,
          "maximum" : 10000000,
          "minimum" : 1,
          "format" : "int32",
          "x-example" : 1
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Page size to use",
          "required" : true,
          "type" : "integer",
          "default" : 20,
          "maximum" : 100,
          "minimum" : 1,
          "format" : "int32"
        }, {
          "name" : "search",
          "in" : "query",
          "description" : "Optional search expression",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Optional sorting expression",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CouponSearch"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "coupon" ],
        "summary" : "Create coupon",
        "description" : "",
        "operationId" : "createCoupon",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateCoupon"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Coupon"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "500" : {
            "description" : "Internal service error, error is reported automatically to Reepay",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        },
        "security" : [ {
          "basicAuth" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/v1/coupon/{handle}" : {
      "get" : {
        "tags" : [ "coupon" ],
        "summary" : "Get coupon",
        "description" : "",
        "operationId" : "getCoupon",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "handle",
          "in" : "path",
          "description" : "Coupon handle",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Coupon"
            }
          },
          "400" : {
            "description" : "Invalid request, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "401" : {
            "description" : "None or invalid credentials provided in access to secured resource",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "403" : {
            "description" : "Not authorized to perform resource operation",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          },
          "404" : {
            "description" : "Resource or referenced resource not found, see error codes at https://api.reepay.com/v1/error_codes",
            "schema" : {
[...]
