<html xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar" th:fragment="navbar" role="navigation">
        <ul class="nav nav-pills">
            <li role="presentation">
                <a class="nav-point" href="/register">Signup</a>
            </li>
            <li>
                <a class="nav-point" href="/customers">Registered customers</a>
            </li>
            <li>
                <a class="nav-point" href="/signin">Sign in here</a>
            </li>
            <li>
                <a class="nav-point" href="/mypage">My page</a>
            </li>
        </ul>
    </nav>
</html>