<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <title>All users</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div th:replace="fragments/navigation :: 'navbar'"></div>
        </div>
        <div class="col-md-2 col-md-offset-4 text-right">
            <div th:replace="fragments/logout :: 'logout'"></div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-4 col-md-offset-4">
            <table class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Handle</th>
                </tr>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.id}"></td>
                    <td th:text="${customer.firstName}"></td>
                    <td th:text="${customer.lastName}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.handle}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>